body { 
  background-color: aliceblue;
  font-family: 'Merriweather', serif; 
}
.bucket {
  background-color: whitesmoke;
  margin: 40px auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 30vw;
  border: 3px solid black;
}

.background {
  background-color:whitesmoke;
  margin: 40px auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 50vw;
  font-size: 20px;
  border: 3px solid black;

}
.siths
{
  margin-bottom: -190px;
 margin-left: 450px;
 
}
.siths2 {
  margin-bottom: -190px;
  margin-left: 1200px;
}
