body { 
  background-color: aliceblue;
}
.bucket {
  background-color: whitesmoke;
  margin: 40px auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 30vw;
  border: 3px solid black;
}

.background {
  background-color:whitesmoke;
  margin: 40px auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 50vw;
  font-size: 20px;
  border: 3px solid black;

}
.siths
{
  margin-bottom: -200px;
 margin-left: 450px;
 
}
.siths2 {
  margin-bottom: -170px;
  margin-left: 1222px;
}
.siths3 {
 margin-bottom: -700px;
  margin-right: 1000px;
}
.siths4 {
  margin-bottom: -1400px;
  margin-left:50px ;
}
.siths5 { 
  margin-left: 100px;
  margin-top: -500px;
}