body { 
  background-color: aliceblue;
  font-family: 'Merriweather', serif; 
}
.bucket {
  background-color: whitesmoke;
  margin: 100px auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 30vw;
  border: 3px solid black;
}

.background {
  background-color:whitesmoke;
  margin: 40px auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 50vw;
  font-size: 20px;
  border: 3px solid black;

}
.siths
{
  position: absolute;
  top: 35px;
  left: 450px;
 
}
.siths2 {
 position: absolute;
 top: 45px;
 right: 470px;
}

#mop{
 font-style: italic;
}
